a p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
#main {
  margin-left: 90px;
}
header {
  margin-top: -8px;
  margin-left: -16px;
  margin-right: -16px;
}
#particle {
  position: relative;
  height: 100vh;
}
.headerContent {
  position: absolute;
  height: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
.intro p {
  margin: 0;
}
footer {
  margin-bottom: -8px;
  margin-left: -16px;
  margin-right: -16px;
}
