.w3-row-padding img {
  margin-bottom: 12px;
}
.w3-sidebar {
  width: 90px;
  background: white;
}
.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 10px 0 rgba(0, 0, 0, 0);
}
